data/geometry3k/train/*
data/geometry3k/val/*
data/geometry3k/test/*
data/geometry3k/logic_forms/*
data/geometry3k/symbols/*

.ipynb_checkpoints
.idea
__pycache__

**/.ipynb_checkpoints
**/.idea
**/__pycache__

*.pyc
*.pt
*.pth
*.DS_Store

diagram_parser/detection_results/ocr_results/*
diagram_parser/detection_results/box_results/*
